<div class="bg-white">
  <!-- Header -->
  <header class="absolute inset-x-0 top-0 z-50">
    <nav aria-label="Global" class="flex items-center justify-between p-6 lg:px-8">
      <div class="flex lf:flex-1">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">Tinysales Rails</span>
          <img alt="" src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&amp;shade=600" class="h-8 w-auto">
        </a>
      </div>
      <div class="flex lg:hidden">
        <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
          <span class="sr-only">Open main menu</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon" class="h-6 w-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
          </svg>
        </button>
      </div>
      <div class="hidden lg:flex lg:gap-x-12">
        <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Product</a>
        <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Features</a>
        <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Pricing</a>
      </div>
      <div class="hidden lg:flex lf:flex-1 lg:justify-end">
        <%= link_to new_user_session_path, class:"text-sm font-semibold leading-6 text-gray-900" do %>
          Log in <span aria-hidden="true">&rarr;</span>
        <% end %>
      </div>
    </nav>
    <div class="lg:hidden" role="dislog" aria-modal="true">
      <div class="fixed inset-0 z-50"></div>
      <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auyto bg-white px-6 py-6 sm:mak-w-sm sm:ring-1 sm:ring-gray-900/10">
        <div class="flex items-center justify-betweern">
          <a href="#" class="-m-1.5 p-1.5">
            <span class="sr-only">Tinysales Rails</span>
            <img alt="" src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&amp;shade=600" class="h-8 w-auto">
          </a>
        </div>
        <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
          <span class="sr-only">Close main menu</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon" class="h-6 w-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-6 leading-7 text-gray-900 hover:bg-gray-50">Product</a>
            <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-6 leading-7 text-gray-900 hover:bg-gray-50">Features</a>
            <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-6 leading-7 text-gray-900 hover:bg-gray-50">Pricing</a>
          </div>
          <div class="py-6r">
            <%= link_to new_user_session_path, class:"-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-6 leading-7 text-gray-900 hover:bg-gray-500" do %>
              Log in <span aria-hidden="true">&rarr;</span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main class="isolate">
    <!-- Hero Section -->
    <div class="relative pt-14">
      <div aria-hidden="true" class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:top-80">
        <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%);"></div>
      </div>
      <div class="py-24 sm:py-32">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div class="mx-auto max-w-2xl text-center">
            <h1 class="text-4xl fold-bold tracking-tight text-gray-900 sm:text-6xl">Sell your digital products and subscriptions</h1>
            <p class="mt-6 text-lg leading-8 text-gray-600">For a flat monthly fee (plus Stripe transaction cost)</p>
            <div class="mt-10 flex items-center justify-center gap-x-6">
              <%= link_to "Get started", new_user_registration_path, class:"rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:offset-2 focus-visible:indigo-600" %>
              <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Learn more <span aria-hidden="true">→</span></a>
            </div>
          </div>
          <div class="mt-16 flow-root sm:mt-24">
            <div class="-m-2 rounded-xl bg-gray-900/5 p-2 ring-1 ring-inset ring-gray-900/10 lg:-m-4 lg:rounded-2xl lg:p-4">
              <img alt="App screenshot" src="https://tailwindcss.com/plus-assets/img/component-images/project-app-screenshot.png" width="2432" height="1442" class="rounded-md ring-1 shadow-2xl ring-gray-900/10">
            </div>
          </div>
        </div>
      </div>
      <div aria-hidden="true" class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]">
        <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%);">
        </div>
      </div>
    </div>

    <!-- Feature Section -->
    <div class="mx-auto mt-32 max-7xl px-6 sm:mt-56 lg:px-8">
      <div class="mx-auto max-w-2xl lkg:text-center">
        <h2 class="text-base font-semibold leading-7 text-indigo-600">Sell simply</h2>
        <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Everything you need to sell your digital products</p>
        <p class="mt-6 text-lg leading-8 text-gray-600">Ebooks, course, subscriptions, etc.</p>
      </div>
      <div class="mx-auto mt-16 mex-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
        <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
          <div class="relative pl-16">
            <dt class="text-base font-semibold leading-7 text-gray-900">
              <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon" class="h-6 w-6 text-white">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 16.5V9.75m0 0 3 3m-3-3-3 3M6.75 19.5a4.5 4.5 0 0 1-1.41-8.775 5.25 5.25 0 0 1 10.233-2.33 3 3 0 0 1 3.758 3.848A3.752 3.752 0 0 1 18 19.5H6.75Z"></path>
                </svg>
              </div>
              Push to deploy
            </dt>
            <dd class="mt-2 text-base leading-7 text-gray-600">Morbi viverra dui mi arcu sed. Tellus semper adipiscing suspendisse semper morbi. Odio urna massa nunc massa.</dd>
          </div>
          <div class="relative pl-16">
            <dt class="text-base font-semibold leading-7 text-gray-900">
              <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon" class="h-6 w-6 text-white">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z"></path>
                </svg>
              </div>
              SSL certificates
            </dt>
            <dd class="mt-2 text-base leading-7 text-gray-600">Sit quis amet rutrum tellus ullamcorper ultricies libero dolor eget. Sem sodales gravida quam turpis enim lacus amet.</dd>
          </div>
          <div class="relative pl-16">
            <dt class="text-base font-semibold leading-7 text-gray-900">
              <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon" class="h-6 w-6 text-white">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99"></path>
                </svg>
              </div>
              Simple queues
            </dt>
            <dd class="mt-2 text-base leading-7 text-gray-600">Quisque est vel vulputate cursus. Risus proin diam nunc commodo. Lobortis auctor congue commodo diam neque.</dd>
          </div>
          <div class="relative pl-16">
            <dt class="text-base font-semibold leading-7 text-gray-900">
              <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon" class="h-6 w-6 text-white">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M7.864 4.243A7.5 7.5 0 0 1 19.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 0 0 4.5 10.5a7.464 7.464 0 0 1-1.15 3.993m1.989 3.559A11.209 11.209 0 0 0 8.25 10.5a3.75 3.75 0 1 1 7.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 0 1-3.6 9.75m6.633-4.596a18.666 18.666 0 0 1-2.485 5.33"></path>
                </svg>
              </div>
              Advanced security
            </dt>
            <dd class="mt-2 text-base leading-7 text-gray-600">Arcu egestas dolor vel iaculis in ipsum mauris. Tincidunt mattis aliquet hac quis. Id hac maecenas ac donec pharetra eget.</dd>
          </div>
        </dl>
      </div>
    </div>

    <!-- Section -->
    <div class="fy hv vy cnp cwy dwm">
      <div class="l afg alk auc aux b-m-1.5 cvk cxb cxq dhh dwo">
        <img alt="" src="https://images.unsplash.com/photo-1601381718415-a05fb0a261f3?ixid=MXwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8ODl8fHxlbnwwfHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1216&amp;q=80" class="j u pe asz bhw bhz">
        <div class="j u alq beo"></div>
        <div aria-hidden="true" class="j aq cm zk bhr">
          <div class="mn uy aoz apl aqi ben" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%);"></div>
        </div>
        <div aria-hidden="true" class="ld dbu dcc dce ddv dff din">
          <div class="mn uy aoz apl aqi bef" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%);"></div>
        </div>
        <div class="l fy vt dlx">
          <img alt="" src="https://tailwindcss.com/plus-assets/img/logos/workcation-logo-white.svg" class="px w-auto">
          <figure>
            <blockquote class="hk ayo font-semibold bdk dak">
              <p>“Amet amet eget scelerisque tellus sit neque faucibus non eleifend. Integer eu praesent at a. Ornare arcu gravida natoque erat et cursus tortor consequat at. Vulputate gravida sociis enim nullam ultricies habitant malesuada lorem ac.”</p>
            </blockquote>
            <figcaption class="hk ayn bdk">
              <div class="font-semibold">Judith Black</div>
              <div class="hd">CEO of Tuple</div>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
    <div class="auy cyk">
      <div class="fy vy auc dwm">
        <div class="fy vt dza">
          <h2 class="text-base font-semibold bbl">Pricing</h2>
          <p class="mt-2 ayk font-sleading-7 text-gray-600bold azt azw leading-7 text-gray-900 daa dzh">Pricing that grows with you</p>
          <p class="hk azc azw bat">Quis tellus eget adipiscing convallis sit sit eget aliquet quis. Suspendisse eget egestas a elementum pulvinar et feugiat blandit at. In mi viverra elit nunc.</p>
        </div>
        <div class="dn fy hs lc we aah adk cnk dlx dqi drl">
          <div class="dmj duq flex aas abe afv aoc ato ber bfp efg">
            <div>
              <div class="flex items-center abe ace">
                <h3 id="tier-freelancer" class="leading-7 text-gray-900 azc font-semibold">Freelancer</h3>
              </div>
              <p class="hi aze bat">The essentials to provide your best work for clients.</p>
              <p class="hk flex aay abz">
                <span class="ayk font-semibold azt leading-7 text-gray-900">$19</span>
                <span class="aze font-semibold bat">/month</span>
              </p>
              <ul role="list" class="hm aco aze bat">
                <li class="flex acd">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon" class="pr ts wt bbl">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd"></path>
                  </svg>
                  5 products
                </li>
                <li class="flex acd">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon" class="pr ts wt bbl">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd"></path>
                  </svg>
                  Up to 1,000 subscribers
                </li>
                <li class="flex acd">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon" class="pr ts wt bbl">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd"></path>
                  </svg>
                  Basic analytics
                </li>
                <li class="flex acd">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon" class="pr ts wt bbl">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd"></path>
                  </svg>
                  48-hour support response time
                </li>
              </ul>
            </div>
            <a href="#" aria-describedby="tier-freelancer" class="bbl ber bge bjg bwz hm ky rounded-md aty aul ayb aze font-semibold car cat cba">Buy plan</a>
          </div>
          <div class="dki duv flex aas abe afv aoc ato ber bfp efg">
            <div>
              <div class="flex items-center abe ace">
                <h3 id="tier-startup" class="bbl azc font-semibold">Startup</h3>
                <p class="agb amh atx auj azj font-semibold bbl">Most popular</p>
              </div>
              <p class="hi aze bat">A plan that scales with your rapidly growing business.</p>
              <p class="hk flex aay abz">
                <span class="ayk font-semibold azt leading-7 text-gray-900">$49</span>
                <span class="aze font-semibold bat">/month</span>
              </p>
              <ul role="list" class="hm aco aze bat">
                <li class="flex acd">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon" class="pr ts wt bbl">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd"></path>
                  </svg>
                  25 products
                </li>
                <li class="flex acd">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon" class="pr ts wt bbl">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd"></path>
                  </svg>Up to 10,000 subscribers
                </li>
                <li class="flex acd">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon" class="pr ts wt bbl">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd"></path>
                  </svg>Advanced analytics
                </li>
                <li class="flex acd">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon" class="pr ts wt bbl">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd"></path>
                  </svg>
                  24-hour support response time
                </li>
                <li class="flex acd">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon" class="pr ts wt bbl">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd"></path>
                  </svg>
                  Marketing automations
                </li>
              </ul>
            </div>
            <a href="#" aria-describedby="tier-startup" class="amg bdk bff bto hm ky rounded-md aty aul ayb aze font-semibold car cat cba">Buy plan</a>
          </div>
          <div class="dmj dui flex aas abe afv aoc ato ber bfp efg">
            <div>
              <div class="flex items-center abe ace">
                <h3 id="tier-enterprise" class="leading-7 text-gray-900 azc font-semibold">Enterprise</h3>
              </div>
              <p class="hi aze bat">Dedicated support and infrastructure for your company.</p>
              <p class="hk flex aay abz">
                <span class="ayk font-semibold azt leading-7 text-gray-900">$99</span>
                <span class="aze font-semibold bat">/month</span>
              </p>
              <ul role="list" class="hm aco aze bat">
                <li class="flex acd">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon" class="pr ts wt bbl">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd"></path>
                  </svg>
                  Unlimited products
                </li>
                <li class="flex acd">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon" class="pr ts wt bbl">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd"></path>
                  </svg>
                  Unlimited subscribers
                </li>
                <li class="flex acd">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon" class="pr ts wt bbl">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd"></path>
                  </svg>
                  Advanced analytics
                </li>
                <li class="flex acd">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon" class="pr ts wt bbl">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd"></path>
                  </svg>
                  1-hour, dedicated support response time
                </li>
                <li class="flex acd">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon" class="pr ts wt bbl">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd"></path>
                  </svg>
                  Marketing automations
                </li>
              </ul>
            </div>
            <a href="#" aria-describedby="tier-enterprise" class="bbl ber bge bjg bwz hm ky rounded-md aty aul ayb aze font-semibold car cat cba">Buy plan</a>
          </div>
        </div>
      </div>
    </div>
    <div class="fy vt auc awx cyd czi dqf dwm dyl">
      <h2 class="ayk font-semibold azt leading-7 text-gray-900 daa">Frequently asked questions</h2>
      <dl class="ht aec aep">
        <div class="aus bqq bqu dnr drr dsm">
          <dt class="text-base font-semibold leading-7 text-gray-900 dkq">What's the best thing about Switzerland?</dt>
          <dd class="hi dks dmd">
            <p class="text-base bat">I don't know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</p>
          </dd>
        </div>
        <div class="aus bqq bqu dnr drr dsm">
          <dt class="text-base font-semibold leading-7 text-gray-900 dkq">How do you make holy water?</dt>
          <dd class="hi dks dmd">
            <p class="text-base bat">You boil the hell out of it. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam aut tempora vitae odio inventore fuga aliquam nostrum quod porro. Delectus quia facere id sequi expedita natus.</p>
          </dd>
        </div>
        <div class="aus bqq bqu dnr drr dsm">
          <dt class="text-base font-semibold leading-7 text-gray-900 dkq">What do you call someone with no body and no nose?</dt>
          <dd class="hi dks dmd">
            <p class="text-base bat">Nobody knows. Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, voluptas ipsa quia excepturi, quibusdam natus exercitationem sapiente tempore labore voluptatem.</p>
          </dd>
        </div>
        <div class="aus bqq bqu dnr drr dsm">
          <dt class="text-base font-semibold leading-7 text-gray-900 dkq">Why do you never see elephants hiding in trees?</dt>
          <dd class="hi dks dmd">
            <p class="text-base bat">Because they're so good at it. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</p>
          </dd>
        </div>
        <div class="aus bqq bqu dnr drr dsm">
          <dt class="text-base font-semibold leading-7 text-gray-900 dkq">Why can't you hear a pterodactyl go to the bathroom?</dt>
          <dd class="hi dks dmd">
            <p class="text-base bat">Because the pee is silent. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, quas voluptatibus ex culpa ipsum, aspernatur blanditiis fugiat ullam magnam suscipit deserunt illum natus facilis atque vero consequatur! Quisquam, debitis error.</p>
          </dd>
        </div>
        <div class="aus bqq bqu dnr drr dsm">
          <dt class="text-base font-semibold leading-7 text-gray-900 dkq">Why did the invisible man turn down the job offer?</dt>
          <dd class="hi dks dmd">
            <p class="text-base bat">He couldn't see himself doing it. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet perspiciatis officiis corrupti tenetur. Temporibus ut voluptatibus, perferendis sed unde rerum deserunt eius.</p>
          </dd>
        </div>
      </dl>
    </div>
  </main>
</div>