<div class="bg-white">
  <header class="absolute inset-x-0 top-0 z-50">
    <nav aria-label="Global" class="flex items-center justify0between p-6 lg:px-8">
      <div class="flex lf:flex-1">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">Tinysales Rails</span>
          <img alt="" src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&amp;shade=600" class="h-8 w-auto">
        </a>
      </div>
      <div class="flex lg:hidden">
        <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
          <span class="sr-only">Open main menu</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon" class="h-6 w-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
          </svg>
        </button>
      </div>
      <div class="hidden lg:flex lg:gap-x-12">
        <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Product</a>
        <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Features</a>
        <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Marketplace</a>
        <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Company</a>
      </div>
      <div class="hidden lg:flex lf:flex-1 dsh">
        <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Log in <span aria-hidden="true">→</span></a>
      </div>
    </nav>
  </header>
  <main class="isolate">
    <div class="l avp">
      <div aria-hidden="true" class="j y ao do zk afg bhr ckh">
        <div class="l dg mr ur xi zh apb apk aqk beg cflex crh" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%);">
        </div>
      </div>
      <div class="auy cxr dym">
        <div class="fy vy auc dwm">
          <div class="fy vt ayb">
            <h1 class="ayl azr azt azv baw dac">Deploy to the cloud with confidence</h1>
            <p class="hm ayo azp azw bas dak">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat.</p>
            <div class="ho flex items-center justify-center acg">
              <a href="#" class="rounded-md amg atz aum ayp azr bdk bff bto car cat cba">Get started</a>
              <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Learn more <span aria-hidden="true">→</span></a>
            </div>
          </div>
          <div class="hs lb cnl">
            <div class="ff agg all ati ber bga bjg dlu dua dwe">
              <img alt="App screenshot" src="https://tailwindcss.com/plus-assets/img/component-images/project-app-screenshot.png" width="2432" height="1442" class="rounded-md ber bex bga">
            </div>
          </div>
        </div>
      </div>
      <div aria-hidden="true" class="j y bh do zk afg bhr ckn">
        <div class="l de mr ur xi apb apk aqk beg cky crh" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%);">
        </div>
      </div>
    </div>
    <div class="fy vy auc dwm">
      <div class="fy lc wc aak items-center ach adm crw csx cuc cun dlx dqi drn">
        <img alt="Transistor" src="https://tailwindcss.com/plus-assets/img/logos/158x48/transistor-logo-gray-900.svg" width="158" height="48" class="ee rm vo asy dkm">
        <img alt="Reform" src="https://tailwindcss.com/plus-assets/img/logos/158x48/reform-logo-gray-900.svg" width="158" height="48" class="ee rm vo asy dkm">
        <img alt="Tuple" src="https://tailwindcss.com/plus-assets/img/logos/158x48/tuple-logo-gray-900.svg" width="158" height="48" class="ee rm vo asy dkm">
        <img alt="SavvyCal" src="https://tailwindcss.com/plus-assets/img/logos/158x48/savvycal-logo-gray-900.svg" width="158" height="48" class="ee rm vo asy clx dkm">
        <img alt="Statamic" src="https://tailwindcss.com/plus-assets/img/logos/158x48/statamic-logo-gray-900.svg" width="158" height="48" class="ee em rm vo asy cma dkm">
      </div>
      <div class="hs flex justify-center">
        <p class="l agb aua auk aze bat ber bga bjg bwy">
          <span class="ld ddz">Transistor saves up to $40,000 per year, per employee by working with us.</span>
          <a href="#" class="azr bbl">
            <span aria-hidden="true" class="j u"></span> Read our case study 
            <span aria-hidden="true">→</span>
          </a>
        </p>
      </div>
    </div>
    <div class="fy hv vy auc cnp dwm">
      <div class="fy vt dza">
        <h2 class="ayy azr bbl">Deploy faster</h2>
        <p class="hf ayk azr azt azw baw daa dzh">Everything you need to deploy your app</p>
        <p class="hk azc azw bat">Quis tellus eget adipiscing convallis sit sit eget aliquet quis. Suspendisse eget egestas a elementum pulvinar et feugiat blandit at. In mi viverra elit nunc.</p>
      </div>
      <div class="fy hs vt cnk dmo dqc">
        <dl class="lc wk aah ach adl dqi drk dtf">
          <div class="l aya">
            <dt class="ayy azr baw">
              <div class="j au co flex or items-center justify-center agc amg">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon" class="on bdk">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 16.5V9.75m0 0 3 3m-3-3-3 3M6.75 19.5a4.5 4.5 0 0 1-1.41-8.775 5.25 5.25 0 0 1 10.233-2.33 3 3 0 0 1 3.758 3.848A3.752 3.752 0 0 1 18 19.5H6.75Z"></path>
                </svg>
              </div>
              Push to deploy
            </dt>
            <dd class="hf ayy bat">Morbi viverra dui mi arcu sed. Tellus semper adipiscing suspendisse semper morbi. Odio urna massa nunc massa.</dd>
          </div>
          <div class="l aya">
            <dt class="ayy azr baw">
              <div class="j au co flex or items-center justify-center agc amg">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon" class="on bdk">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z"></path>
                </svg>
              </div>
              SSL certificates
            </dt>
            <dd class="hf ayy bat">Sit quis amet rutrum tellus ullamcorper ultricies libero dolor eget. Sem sodales gravida quam turpis enim lacus amet.</dd>
          </div>
          <div class="l aya">
            <dt class="ayy azr baw">
              <div class="j au co flex or items-center justify-center agc amg">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon" class="on bdk">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99"></path>
                </svg>
              </div>
              Simple queues
            </dt>
            <dd class="hf ayy bat">Quisque est vel vulputate cursus. Risus proin diam nunc commodo. Lobortis auctor congue commodo diam neque.</dd>
          </div>
          <div class="l aya">
            <dt class="ayy azr baw">
              <div class="j au co flex or items-center justify-center agc amg">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon" class="on bdk">
                <path stroke-linecap="round" stroke-linejoin="round" d="M7.864 4.243A7.5 7.5 0 0 1 19.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 0 0 4.5 10.5a7.464 7.464 0 0 1-1.15 3.993m1.989 3.559A11.209 11.209 0 0 0 8.25 10.5a3.75 3.75 0 1 1 7.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 0 1-3.6 9.75m6.633-4.596a18.666 18.666 0 0 1-2.485 5.33"></path>
                </svg>
              </div>
              Advanced security
            </dt>
            <dd class="hf ayy bat">Arcu egestas dolor vel iaculis in ipsum mauris. Tincidunt mattis aliquet hac quis. Id hac maecenas ac donec pharetra eget.</dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="fy hv vy cnp cwy dwm">
      <div class="l afg alk auc aux b-m-1.5 cvk cxb cxq dhh dwo">
        <img alt="" src="https://images.unsplash.com/photo-1601381718415-a05fb0a261f3?ixid=MXwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8ODl8fHxlbnwwfHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1216&amp;q=80" class="j u pe asz bhw bhz">
        <div class="j u alq beo"></div>
        <div aria-hidden="true" class="j aq cm zk bhr">
          <div class="mn uy aoz apl aqi ben" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%);"></div>
        </div>
        <div aria-hidden="true" class="ld dbu dcc dce ddv dff din">
          <div class="mn uy aoz apl aqi bef" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%);"></div>
        </div>
        <div class="l fy vt dlx">
          <img alt="" src="https://tailwindcss.com/plus-assets/img/logos/workcation-logo-white.svg" class="px w-auto">
          <figure>
            <blockquote class="hk ayo azr bdk dak">
              <p>“Amet amet eget scelerisque tellus sit neque faucibus non eleifend. Integer eu praesent at a. Ornare arcu gravida natoque erat et cursus tortor consequat at. Vulputate gravida sociis enim nullam ultricies habitant malesuada lorem ac.”</p>
            </blockquote>
            <figcaption class="hk ayn bdk">
              <div class="azr">Judith Black</div>
              <div class="hd">CEO of Tuple</div>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
    <div class="auy cyk">
      <div class="fy vy auc dwm">
        <div class="fy vt dza">
          <h2 class="ayy azr bbl">Pricing</h2>
          <p class="hf ayk azr azt azw baw daa dzh">Pricing that grows with you</p>
          <p class="hk azc azw bat">Quis tellus eget adipiscing convallis sit sit eget aliquet quis. Suspendisse eget egestas a elementum pulvinar et feugiat blandit at. In mi viverra elit nunc.</p>
        </div>
        <div class="dn fy hs lc we aah adk cnk dlx dqi drl">
          <div class="dmj duq flex aas abe afv aoc ato ber bfp efg">
            <div>
              <div class="flex items-center abe ace">
                <h3 id="tier-freelancer" class="baw azc azr">Freelancer</h3>
              </div>
              <p class="hi aze bat">The essentials to provide your best work for clients.</p>
              <p class="hk flex aay abz">
                <span class="ayk azr azt baw">$19</span>
                <span class="aze azr bat">/month</span>
              </p>
              <ul role="list" class="hm aco aze bat">
                <li class="flex acd">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon" class="pr ts wt bbl">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd"></path>
                  </svg>
                  5 products
                </li>
                <li class="flex acd">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon" class="pr ts wt bbl">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd"></path>
                  </svg>
                  Up to 1,000 subscribers
                </li>
                <li class="flex acd">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon" class="pr ts wt bbl">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd"></path>
                  </svg>
                  Basic analytics
                </li>
                <li class="flex acd">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon" class="pr ts wt bbl">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd"></path>
                  </svg>
                  48-hour support response time
                </li>
              </ul>
            </div>
            <a href="#" aria-describedby="tier-freelancer" class="bbl ber bge bjg bwz hm ky rounded-md aty aul ayb aze azr car cat cba">Buy plan</a>
          </div>
          <div class="dki duv flex aas abe afv aoc ato ber bfp efg">
            <div>
              <div class="flex items-center abe ace">
                <h3 id="tier-startup" class="bbl azc azr">Startup</h3>
                <p class="agb amh atx auj azj azr bbl">Most popular</p>
              </div>
              <p class="hi aze bat">A plan that scales with your rapidly growing business.</p>
              <p class="hk flex aay abz">
                <span class="ayk azr azt baw">$49</span>
                <span class="aze azr bat">/month</span>
              </p>
              <ul role="list" class="hm aco aze bat">
                <li class="flex acd">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon" class="pr ts wt bbl">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd"></path>
                  </svg>
                  25 products
                </li>
                <li class="flex acd">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon" class="pr ts wt bbl">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd"></path>
                  </svg>Up to 10,000 subscribers
                </li>
                <li class="flex acd">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon" class="pr ts wt bbl">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd"></path>
                  </svg>Advanced analytics
                </li>
                <li class="flex acd">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon" class="pr ts wt bbl">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd"></path>
                  </svg>
                  24-hour support response time
                </li>
                <li class="flex acd">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon" class="pr ts wt bbl">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd"></path>
                  </svg>
                  Marketing automations
                </li>
              </ul>
            </div>
            <a href="#" aria-describedby="tier-startup" class="amg bdk bff bto hm ky rounded-md aty aul ayb aze azr car cat cba">Buy plan</a>
          </div>
          <div class="dmj dui flex aas abe afv aoc ato ber bfp efg">
            <div>
              <div class="flex items-center abe ace">
                <h3 id="tier-enterprise" class="baw azc azr">Enterprise</h3>
              </div>
              <p class="hi aze bat">Dedicated support and infrastructure for your company.</p>
              <p class="hk flex aay abz">
                <span class="ayk azr azt baw">$99</span>
                <span class="aze azr bat">/month</span>
              </p>
              <ul role="list" class="hm aco aze bat">
                <li class="flex acd">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon" class="pr ts wt bbl">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd"></path>
                  </svg>
                  Unlimited products
                </li>
                <li class="flex acd">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon" class="pr ts wt bbl">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd"></path>
                  </svg>
                  Unlimited subscribers
                </li>
                <li class="flex acd">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon" class="pr ts wt bbl">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd"></path>
                  </svg>
                  Advanced analytics
                </li>
                <li class="flex acd">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon" class="pr ts wt bbl">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd"></path>
                  </svg>
                  1-hour, dedicated support response time
                </li>
                <li class="flex acd">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon" class="pr ts wt bbl">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd"></path>
                  </svg>
                  Marketing automations
                </li>
              </ul>
            </div>
            <a href="#" aria-describedby="tier-enterprise" class="bbl ber bge bjg bwz hm ky rounded-md aty aul ayb aze azr car cat cba">Buy plan</a>
          </div>
        </div>
      </div>
    </div>
    <div class="fy vt auc awx cyd czi dqf dwm dyl">
      <h2 class="ayk azr azt baw daa">Frequently asked questions</h2>
      <dl class="ht aec aep">
        <div class="aus bqq bqu dnr drr dsm">
          <dt class="ayy azr baw dkq">What's the best thing about Switzerland?</dt>
          <dd class="hi dks dmd">
            <p class="ayy bat">I don't know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</p>
          </dd>
        </div>
        <div class="aus bqq bqu dnr drr dsm">
          <dt class="ayy azr baw dkq">How do you make holy water?</dt>
          <dd class="hi dks dmd">
            <p class="ayy bat">You boil the hell out of it. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam aut tempora vitae odio inventore fuga aliquam nostrum quod porro. Delectus quia facere id sequi expedita natus.</p>
          </dd>
        </div>
        <div class="aus bqq bqu dnr drr dsm">
          <dt class="ayy azr baw dkq">What do you call someone with no body and no nose?</dt>
          <dd class="hi dks dmd">
            <p class="ayy bat">Nobody knows. Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, voluptas ipsa quia excepturi, quibusdam natus exercitationem sapiente tempore labore voluptatem.</p>
          </dd>
        </div>
        <div class="aus bqq bqu dnr drr dsm">
          <dt class="ayy azr baw dkq">Why do you never see elephants hiding in trees?</dt>
          <dd class="hi dks dmd">
            <p class="ayy bat">Because they're so good at it. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</p>
          </dd>
        </div>
        <div class="aus bqq bqu dnr drr dsm">
          <dt class="ayy azr baw dkq">Why can't you hear a pterodactyl go to the bathroom?</dt>
          <dd class="hi dks dmd">
            <p class="ayy bat">Because the pee is silent. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, quas voluptatibus ex culpa ipsum, aspernatur blanditiis fugiat ullam magnam suscipit deserunt illum natus facilis atque vero consequatur! Quisquam, debitis error.</p>
          </dd>
        </div>
        <div class="aus bqq bqu dnr drr dsm">
          <dt class="ayy azr baw dkq">Why did the invisible man turn down the job offer?</dt>
          <dd class="hi dks dmd">
            <p class="ayy bat">He couldn't see himself doing it. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet perspiciatis officiis corrupti tenetur. Temporibus ut voluptatibus, perferendis sed unde rerum deserunt eius.</p>
          </dd>
        </div>
      </dl>
    </div>
    <div class="l do hv auc dwm">
      <div aria-hidden="true" class="j y aw do flex xq zk justify-center afg bhr cko cks cku csl csr ctq">
        <div class="mp uz wt aoz apk aqk bef" style="clip-path: polygon(73.6% 48.6%, 91.7% 88.5%, 100% 53.9%, 97.4% 18.1%, 92.5% 15.4%, 75.7% 36.3%, 55.3% 52.8%, 46.5% 50.9%, 45% 37.4%, 50.3% 13.1%, 21.3% 36.2%, 0.1% 0.1%, 5.4% 49.1%, 21.4% 36.4%, 58.9% 100%, 73.6% 48.6%);"></div>
      </div>
      <div class="fy vt ayb">
        <h2 class="ayk azr azt azv baw daa">Boost your productivity. Start using our app today.</h2>
        <p class="fy hk wk azc azw bat">Incididunt sint fugiat pariatur cupidatat consectetur sit cillum anim id veniam aliqua proident excepteur commodo do ea.</p>
        <div class="ho flex items-center justify-center acg">
          <a href="#" class="rounded-md amg atz aum ayp azr bdk bff bto car cat cba">Get started</a>
          <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Learn more <span aria-hidden="true">→</span>
          </a>
        </div>
      </div>
      <div aria-hidden="true" class="j bi bo cq do ld xq zk afg bhr coy">
        <div class="mr vb apb apk aqk beg" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%);"></div>
      </div>
    </div>
  </main>
  <footer class="l fy hv vy auc dwm">
    <div class="ahn aij auw cxq dwz">
      <div class="eck edt eeg">
        <img alt="Company name" src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&amp;shade=600" class="pu">
        <div class="hs lc aai abr eav ebp">
          <div class="ddx dfi dfz">
            <div>
              <h3 class="text-sm font-semibold leading-6 text-gray-900">Solutions</h3>
              <ul role="list" class="hk acp">
                <li>
                  <a href="#" class="aze bat bvw">Hosting</a>
                </li>
                <li>
                  <a href="#" class="aze bat bvw">Data services</a>
                </li>
                <li>
                  <a href="#" class="aze bat bvw">Uptime monitoring</a>
                </li>
                <li>
                  <a href="#" class="aze bat bvw">Enterprise services</a>
                </li>
                <li>
                  <a href="#" class="aze bat bvw">Analytics</a>
                </li>
              </ul>
            </div>
            <div class="ho dcz">
              <h3 class="text-sm font-semibold leading-6 text-gray-900">Support</h3>
              <ul role="list" class="hk acp">
                <li>
                  <a href="#" class="aze bat bvw">Submit ticket</a>
                </li>
                <li>
                  <a href="#" class="aze bat bvw">Documentation</a>
                </li>
                <li>
                  <a href="#" class="aze bat bvw">Guides</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="ddx dfi dfz">
            <div>
              <h3 class="text-sm font-semibold leading-6 text-gray-900">Company</h3>
              <ul role="list" class="hk acp">
                <li>
                  <a href="#" class="aze bat bvw">About</a>
                </li>
                <li>
                  <a href="#" class="aze bat bvw">Blog</a>
                </li>
                <li>
                  <a href="#" class="aze bat bvw">Jobs</a>
                </li>
                <li>
                  <a href="#" class="aze bat bvw">Press</a>
                </li>
              </ul>
            </div>
            <div class="ho dcz">
              <h3 class="text-sm font-semibold leading-6 text-gray-900">Legal</h3>
              <ul role="list" class="hk acp">
                <li>
                  <a href="#" class="aze bat bvw">Terms of service</a>
                </li>
                <li>
                  <a href="#" class="aze bat bvw">Privacy policy</a>
                </li>
                <li>
                  <a href="#" class="aze bat bvw">License</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>